.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; 갯수만큼 컬럼수만큼 자동 너비 조정*/
    /* grid-template-columns: 50px auto auto; 지정 넓이만큼 표시됨(지정된 넓이는 창 길이 조절해도 고정됨)*/
    grid-template-columns: 20% 50% 30%;
    gap: 10px;
}
.grid-item-second-main {
    display: grid;
    grid-template-columns: auto auto auto;
}