.nav {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}
.nav > .nav-item{ /* nav밑에 자녀인 nav-item */
background-color: chocolate;
text-decoration: none;
}

.nav-item > a {
    text-decoration: none;
}
a:hover {
    background-color: chartreuse;
  }