* {
    font-size: 15px;
}

main {
    border-style: solid;
    width: 700px;
    margin: 50px;
    padding: 50px;
}

table {
    text-align: center;
    width: 100%;
    border: 1px;
    solid black;
    border-collapse: collapse
}

tr {
    height: 30px;
    border: 1px solid black;
    padding: 15px;
}

td {
    border: 1px solid black;
    padding: 7px;
}

.gray {
    background-color: gray;
}
.end_01 {
    text-align: center;
}
.end_03 {
    text-align: right;
}
span {
    padding: 20px;
}